<ion-view view-title="clock"  >
<ion-content  ng-init="init()">
    
     <label class="item item-input item-select">
    <div class="input-label">
      Focus on :
    </div>
         <ion-checkbox ng-model="isDone" ng-change= "doneChanged()">Done</ion-checkbox>

          <select name='options' ng-model="selectedItem"
                  ng-options="item as item.name for item in list">
          </select>
         
<!--
    <select ng-model="selectedItem" ng-change="changeSelectedItem(selectedItem)">
        <option ng-repeat="item in list" item="item" item-type="item item-icon-left" class = "item-text-wrap">
            {{item.name}}
              </option>
    //  <option>Blue</option>
    //<option selected>Green</option>
    //<option>Red</option>
      
    </select>
-->
  </label>
    
    <div align="center" id="timer" class="row">
        <span>{{minutes}}:{{seconds}}</span>
      </div>
      <div align="center" id="options"class="row">
        <button ng-click="play()">play</button>
        <button ng-click="pause()">pause</button>
        
      </div>
        <div align="center" class="row">
              <h3 ng-show="secession == 'work'">Pomodoro # {{pomoNum}}</h3>
            <h3 ng-show="secession == 'play'">Short Break</h3>
            <h3 ng-show="secession == 'playHard'">Long Break!!</h3>
          </div>
    <div>
        <ion-toggle ng-model= "cb_alarm">Alarm</ion-toggle>
        <ion-toggle ng-model= "cb_ticking" >Ticking</ion-toggle>
        <ion-toggle ng-model= "cb_wNoise" ng-change="toggleWhiteNoise()" >White Noise</ion-toggle>
    </div>
      <div align="center"  class="row" >
          <div id="session" class="col-md-4 col-xs-4 col-lg-4 col-sm-4" >
          <div class="row"><h3>Secession</h3></div>
              <div class="row">
          <button ng-click="time = worktime - 1;workUpdated(time)">-</button><b>{{worktime}}</b>
          <button ng-click="time = worktime + 1;workUpdated(time)">+</button>
                  </div>
        </div>
         
        <div id="break" class="col-md-4 col-xs-4 col-lg-4 col-sm-4" >
            <div class="row">
          <h3>Break</h3>
                </div>
            <div class="row">
          <button ng-click="time = breaktime - 1;playUpdated(time)">-</button><b>{{breaktime}}</b>
          <button ng-click="time = breaktime + 1;playUpdated(time)">+</button>
            </div>
        </div>
        <div id="break" class="col-md-4 col-xs-4 col-lg-4 col-sm-4" >
            <div class="row">
          <h3>Long Break</h3>
            </div>
            <div class="row">
          <button ng-click="time = longBreaktime - 1;playHardUpdated(time)">-</button><b>{{longBreaktime}}</b>
          <button ng-click="time = longBreaktime + 1;playHardUpdated(time)">+</button>
            </div>
            
            </div>
       <button ng-click="reset()">Reset</button>
      </div>
      
    </ion-content>
    </ion-view>