<ion-view view-title="clock"  >
<ion-content  ng-init="init()">
    
<!--
<div class="row">
    <div class="col  input-label">
      Focus on :
    </div>
    <div class ="col col-50">
          <select  name='options' ng-model="selectedItem"
                  ng-options="item as item.name for item in list">
          </select>
        </div>
    
    <div class="col">
         <ion-checkbox ng-model="isDone" ng-change= "doneChanged()">Done</ion-checkbox>
</div>
    
</div>     
-->
    <div class="row">
        <div class="col">
    <label class="item item-input item-select">
    <div class="input-label">
      Focus on :
    </div>
     <select  name='options' ng-model="selectedItem"
                  ng-options="item as item.name for item in list" ng-change="selectedItemChanged(selectedItem)">
          </select>
     </label>
    </div>
<!--        <ion-checkbox ng-model="isDone" ng-change= "doneChanged()">Done</ion-checkbox>-->
    </div>
    <section ng-click="toggleTimer()" class="padding">
    <div class="timer">
            <p class="title" ng-show="secession == 'work'">Pomodoro # {{pomoNum}}</p>
            <p class="title" ng-show="secession == 'play'">Short Break</p>
            <p class="title" ng-show="secession == 'playHard'">Long Break!!</p>
      <p>{{minutes}}:{{seconds}}</p><span ng-style="{'height':fillHeight, 'background':fillColor }" class="fill"></span>
    </div>
  </section>
    
    
<!--
    <div  class="row timer">
        <span>{{minutes}}:{{seconds}}</span>
      </div>
-->
    
<!--
    
      <div align="center" id="options"class="row">
        <button ng-click="play()">play</button>
        <button ng-click="pause()">pause</button>
        
      </div>
        <div align="center" class="row">
              <h3 ng-show="secession == 'work'">Pomodoro # {{pomoNum}}</h3>
            <h3 ng-show="secession == 'play'">Short Break</h3>
            <h3 ng-show="secession == 'playHard'">Long Break!!</h3>
          </div>
-->
    

<!--
        <ion-toggle ng-model= "cb_alarm">Alarm</ion-toggle>
        <ion-toggle ng-model= "cb_ticking" >Ticking</ion-toggle>
        <ion-toggle ng-model= "cb_wNoise" ng-change="toggleWhiteNoise()" >White Noise</ion-toggle>
        
-->
<ul class="list">

    <li class="item item-toggle">
     Alarm
     <label class="toggle toggle-assertive">
       <input type="checkbox" ng-model= "cb_alarm" ng-change="toggleAlarm(cb_alarm)">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
    <li class="item item-toggle">
     Ticking
     <label class="toggle toggle-assertive">
       <input type="checkbox" ng-model= "cb_ticking" ng-change="toggleticking(cb_ticking)">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
    <li class="item item-toggle">
     Binaural Beats: {{currentAudio}}
     <label class="toggle toggle-assertive">
       <input type="checkbox" ng-model= "cb_wNoise" ng-change="toggleWhiteNoise(cb_wNoise)">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
</ul>
        
<div class="list">
  <div class="item range range-positive">
      <label class="PacificoFontOneEM"> Secession</label>
    <i class="icon ion-minus-round" ></i>
    <input type="range"  min="0" max="100" value={{worktime}} ng-model="worktime" ng-change ="workUpdated(worktime)">
    <i class="icon ion-plus-round" ></i>
      <label class="PacificoFontTwoEM">{{worktime}}</label>
  </div>
            <div class="item range range-positive">
      <label class="PacificoFontOneEM"> Break!</label>
    <i class="icon ion-minus-round" ></i>
    <input type="range"  min="0" max="100" value={{breaktime}} ng-model="breaktime" ng-change ="playUpdated(breaktime)">
    <i class="icon ion-plus-round" ></i>
      <label class="PacificoFontTwoEM">{{breaktime}}</label>
  </div>
            <div class="item range range-positive">
      <label class="PacificoFontOneEM"> Long Break !!</label>
    <i class="icon ion-minus-round" ></i>
    <input type="range"  min="0" max="100" value={{longBreaktime}} ng-model="longBreaktime" ng-change ="playHardUpdated(longBreaktime)">
    <i class="icon ion-plus-round" ></i>
      <label class="PacificoFontTwoEM">{{longBreaktime}}</label>
  </div>
<!--
    <div>
    <button class="button button-block button-positive" ng-click="reset()">
  Reset
</button>
        </div>
    
-->
</div>
     
    
<!--
      <div align="center"  class="row" >
          <div id="session" class="col-md-4 col-xs-4 col-lg-4 col-sm-4" >
          <div class="row"><h3>Secession</h3></div>
              <div class="row">
          <button ng-click="time = worktime - 1;workUpdated(time)">-</button><b>{{worktime}}</b>
          <button ng-click="time = worktime + 1;workUpdated(time)">+</button>
                  </div>
        </div>
         
        <div id="break" class="col-md-4 col-xs-4 col-lg-4 col-sm-4" >
            <div class="row">
          <h3>Break</h3>
                </div>
            <div class="row">
          <button ng-click="time = breaktime - 1;playUpdated(time)">-</button><b>{{breaktime}}</b>
          <button ng-click="time = breaktime + 1;playUpdated(time)">+</button>
            </div>
        </div>
        <div id="break" class="col-md-4 col-xs-4 col-lg-4 col-sm-4" >
            <div class="row">
          <h3>Long Break</h3>
            </div>
            <div class="row">
          <button ng-click="time = longBreaktime - 1;playHardUpdated(time)">-</button><b>{{longBreaktime}}</b>
          <button ng-click="time = longBreaktime + 1;playHardUpdated(time)">+</button>
            </div>
            
            </div>
       <button ng-click="reset()">Reset</button>
      </div>
      
-->
    </ion-content>
    </ion-view>